*.gem
.bundle
Gemfile.lock
pkg/*
coverage
.idea/.name
.idea/.rakeTasks
.idea/encodings.xml
.idea/mastercoin-client.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
